discord
discord.py
gTTS
langdetect
PyNaCl
python-dotenv
googledrivedownloader
discord-py-slash-command
googletrans==4.0.0-rc1
requests
paramiko
pyglet
pillow
html-to-json
google
pandas
beautifulsoup4
google-api-python-client
google-auth-httplib2
google-auth-oauthlib